#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  --bs-primary: #4f46e5;
  --bs-secondary: #6366f1;
  --bs-dark: #111827;
  --bs-light: #f9fafb;
}


body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #5d5f5f, #bbbabd); /* Blue to purple */
  min-height: 100vh;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family: 'Inter', sans-serif;
  color: #fff; /* optional: white text if needed */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
